@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  background-color: #09090b;
}

body {
  margin: 0;
}


/* caso extremo, para evitar que o conteúdo ultrapasse a tela
* {
  box-sizing: border-box;
}
*/
    